<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">    
	
  <import resource="classpath:/esp-context.xml" />

  <bean id="command" class="amp.esp.service.cli.ESPCommand" />
  <bean id="healthCheck" class="amp.esp.service.health.ESPHealthCheck" />
  <bean id="task" class="amp.esp.service.tasks.ESPTask" />
  <bean id="managed" class="amp.esp.service.managed.ESPManaged" />
  <bean id="resource" class="amp.esp.service.resources.ESPResource">
    <property name="engine" ref="ESP"/>
  </bean>
	
</beans>
