#OS junk files
[Tt]humbs.db
*.DS_Store

## allow the archetype bin directory
!java/archetypes/amp-quickstart/src/main/resources/archetype-resources/bin/

# Ignore eclipse project files
.project
.settings
.classpath
target/
[Bb]uild/
[Bb]in/
.metadata/
Servers/

# Ignore IntelliJ Idea files
*.iml
.idea/

*.tar
*.tgz
*.tar.gz
*.jar
*.war
*.class
.gpush.settings
*.roo
.springBeans

# Ignore guvnor cache folder
.guvnorinfo

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#ignore sass cache
.sass-cache

#ignore Torquebox-generated knob files
*.knob

# docco docs
/app/assets/javascripts/docs

# precompiled assets
/public/assets

# Bundle package output
/vendor/cache

# Custom
/app/osd/xml_raw

#Visual Studio files
*.Publish.xml
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.exe*
*.pdb*
*.opensdf
*.unsuccessfulbuild
!/dotnet/binaries/
/dotnet/binaries/*
!/dotnet/binaries/libraries/
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
packages/

# Emacs temporary #foo# files
\#*

#gradle
.gradle/

java/examples/lib/jgoodies-src/
java/examples/lib/net/miginfocom/
java/cmf.bus.iml
java/examples/cmf.examples.iml
managed
/javascript/coverage
/javascript/test-results.xml

# don't treat binaries as text
*.dll -text
*.exe -text
*.pdb -text
*.snk -text
*.pfx -text
*.cer -text
*.crt -text
*.p12 -text
*.p7b -text
*.jar -text
*.jks -text

#Ignore nuget package files: those should be built as needed
*.nupkg
