<div class="span12">
	<div class="padl3">
		<h3 class="bbgray">{{clientId}}</h3>
		<p>Routes <strong>{{clientId}}</strong> is registered to, organized by the topic.  This means that the client can publish and receive messages for each of the topics below at the specified exchanges.</p>
		<table class="table table-striped">
			<tr>
				<th>Topic</th>
				<th>Route Description</th>
				<th>Producer Exchange</th>
				<th>Consumer Exchange</th>
			</tr>
			<tbody ng-repeat="route in routes">
			<tr ng-repeat="topic in route.topics">
				<td><a href="#/topics/{{topic}}">{{topic}}</a></td>
				<td><a href="#/routes/{{route.id}}">{{route.description}}</a></td>
				<td><a href="#/exchanges/{{route.producerExchangeId}}">
					{{route.producerExchangeId}}</a></td>
				<td><a href="#/exchanges/{{route.consumerExchangeId}}">
					{{route.consumerExchangeId}}</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>