<div class="span8">
	<div class="padl3">
		<h3 class="bbgray">{{exchange.description}} <small class="ml10">{{exchange.id}}</small></h3>
		<div class="pull-right">
			<div class="btn-group">
			  <button class="btn btn-primary" ng-click="goto('/exchanges')">
				<em class="icon-list icon-white"></em><span class="ml5">View All</span>
			  </button>
			  <button class="btn btn-primary" ng-click="goto('/exchange/new')">
			  	<em class="icon-plus icon-white"></em><span class="ml5">Create</span>
			  </button>
			  <button class="btn btn-primary" 
					ng-click="goto('/exchanges/' + exchange.id + '/edit')">
			  	<em class="icon-pencil icon-white"></em><span class="ml5">Edit</span>
			  </button>
			  <button class="btn btn-primary" 
					ng-click="goto('/exchanges/' + exchange.id + '/delete')">
			  	<em class="icon-trash icon-white"></em><span class="ml5">Delete</span>
			  </button>
			</div>
		</div>
		<br /><br />
		<table class="table table-striped">
			<tr>
				<th>Key</th>
				<th>Value</th>
				<th>Default Value</th>
			</tr>
			<tr>
				<th>Exchange Type</th>
				<td>{{exchange.exchangeType}}</td>
				<td class="muted">direct</td>
			</tr>
			<tr>
				<th>Broker Hostname</th>
				<td>{{exchange.hostName}}</td>
				<td class="muted"></td>
			</tr>
			<tr>
				<th>Broker Port</th>
				<td>{{exchange.port}}</td>
				<td class="muted">5672</td>
			</tr>
			<tr>
				<th>Broker Virtual Host</th>
				<td>{{exchange.virtualHost}}</td>
				<td class="muted">/</td>
			</tr>
			<tr>
				<th>Routing Key</th>
				<td>{{exchange.routingKey}}</td>
				<td class="muted"></td>
			</tr>
			<tr>
				<th>Queue Name</th>
				<td>{{exchange.queueName}}</td>
				<td class="muted"></td>
			</tr>
			<tr>
				<th>Durable</th>
				<td>{{exchange.isDurable}}</td>
				<td class="muted">false</td>
			</tr>
			<tr>
				<th>Auto Delete</th>
				<td>{{exchange.isAutoDelete}}</td>
				<td class="muted">false</td>
			</tr>
			<tr>
				<th>Arguments</th>
				<td>{{exchange.arguments}}</td>
				<td class="muted"></td>
			</tr>
		</table>
	</div>
</div>
<div  class="span4">
	<div ng-include="'partials/exchange-help.html'"></div>
</div>