<div class="span8">
	<h3 class="bbgray">
		<div ng-show="action == 'new'">Create Exchange</div>
		<div ng-show="action == 'edit'">Edit Exchange</div>
	</h3>
	<br />
	<br />
	<div class="padl3 span7 offset1">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="description">Description:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.description" 
					required class="input-xlarge"
					id="description" placeholder="Exchange Description">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="exchangeId">Exchange ID:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.id" 
					required class="input-xlarge"
					id="exchangeId">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="exchangeName">Exchange Name:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.name" required
					id="exchangeName" class="input-xlarge"
					placeholder="Exchange Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="exchangeType">Exchange Type:</label>
			<div class="controls">
				<input type="text" 
					data-provide="typeahead"
					data-source='["direct","topic","fanout","headers"]'
					ng-model="exchange.exchangeType" required
					id="exchangeType" class="input-xlarge"
					placeholder="direct">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="hostName">Broker Hostname:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.hostName" 
					required class="input-xlarge"
					id="hostName" placeholder="rabbit">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="port">Broker Port:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.port" 
					required class="input-xlarge"
					id="port" placeholder="5672">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="virtualHost">Broker Virtual Host:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.virtualHost" 
					required class="input-xlarge"
					id="virtualHost" placeholder="/">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="routingKey">Routing Key:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.routingKey" 
					required  class="input-xlarge"
					id="routingKey" placeholder="amp.sub.namespace.ClassName">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="queueName">Queue Name:</label>
			<div class="controls">
				<input type="text" ng-model="exchange.queueName" 
					required class="input-xlarge"
					id="queueName" placeholder="app01#">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="isDurable">Durable:</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-model="exchange.isDurable"> Durable (if checked).
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="isAutoDelete">Auto Delete:</label>
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" ng-model="exchange.isAutoDelete"> Auto delete (if checked).
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="arguments">Arguments:</label>
			<div class="controls">
				<textarea ng-model="exchange.arguments" required
					id="arguments" class="input-xlarge"
					placeholder="{ 'key': 'value' }"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="button" ng-show="action == 'edit'"
					ng-click="update()"
					class="btn btn-danger mwidth100">Update</button>
				<button type="button" ng-show="action == 'new'"
					ng-click="create()"
					class="btn btn-warning mwidth100">Create</button>
				<button type="button" ng-click="goBack()"
					class="btn btn-success mwidth100">Cancel</button>
			</div>
		</div>
	</form>
	</div>
</div>
<div  class="span4">
	<div ng-include="'partials/exchange-help.html'"></div>
</div>