<div>
	<div class="span12">
		<div class="padl3">
			<legend>Registered Exchanges 
				<small class="ml10">
					<span class="label label-important">{{exchanges.length}} exchanges</span>
					<span class="label label-inverse">{{brokerCount}} brokers</span>
				</small>
			</legend>
			<button type="button" 
				class='btn btn-warning mb4' 
				ng-click="refresh()">
				<em class="icon-refresh icon-white"></em><span class="ml2">Refresh</span>
			</button>
			<button type="button" 
				class='btn btn-primary mb4' 
				ng-click="create()">
				<em class="icon-plus-sign icon-white"></em><span class="ml2">Create Exchange</span>
			</button>
			<div class="pull-right">
				<div class="input-prepend">
					<span class="add-on">Filter:</span>
					<input type="text" class="input-medium" ng-model="searchText" />
				</div>
				<div class="input-prepend">
				<span class="add-on">Order By:</span>
					<select class="input-medium">
						<option ng-click="predicate = 'name'; reverse=false">Exchange Name</option>
						<option ng-click="predicate = 'exchangeType'; reverse=false">Exchange Type</option>
						<option ng-click="predicate = 'hostName'; reverse=false">Broker</option>
					</select>
				</div>
			</div>
			<p>
			<table class="table table-striped table-hover table-condensed">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Broker</th>
					<th>Routing Key</th>
					<th>Queue</th>
					<th>Durable</th>
					<th>AutoDelete</th>
					<th>Args</th>
					<th></th>
				</tr>
				<tr ng-repeat="exchange in exchanges | filter:searchText | orderBy:predicate:reverse">
					<td><em class="icon-edit" ng-click="edit(exchange.id)"></em></td>
					<td>
						<a href="#/exchanges/{{exchange.id}}">{{exchange.name}}</a></td>
					<td>{{exchange.description}}</td>
					<td>{{exchange.exchangeType}}</td>
					<td><a href="http://{{exchange.hostName}}:15672/">
					amqp://{{exchange.hostName}}:{{exchange.port}}{{exchange.virtualHost}}</a></td>
					<td>{{exchange.routingKey}}</td>
					<td style="text-align: center">
						<em class="icon-ok" 
						ng-show="exchange.queueName != null && exchange.queueName != ''"></em></td>
					<td style="text-align: center">
						<em class="icon-ok" ng-show="exchange.isDurable"></em></td>
					<td style="text-align: center">
						<em class="icon-ok" ng-show="exchange.isAutoDelete"></em></td>
					<td style="text-align: center">
						<em class="icon-ok" 
						ng-show="exchange.arguments != null"></em></td>
					<td style="text-align: center">
						<em class="icon-trash" ng-click="delete(exchange.id)"></em></td>
				</tr>
			</table>
			</p>
		</div>
	</div>
</div>