<div ng-controller="ExchangeHelpCtrl">
<h3 class="bbgray">Terminology</h3>
<p>Exchanges are an AMQP construct used for the routing of messages.  For the purposes of simplicity, we have collapsed queue configuration in the same model.  Future versions of the GTS will divorce the concepts (Exchange and Queue) in configuration.</p>
<h4 id="help_name">Exchange Name <em ng-click="toggle('help_name')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_name_content">
<p>Name of the exchange used by the clients and the broker for the publication of messages.  Exchanges are typically "namespaced" similar to classes in Java and .NET (using.dots.to.separate.tiers).
</p>
<p>RabbitMQ comes with a number of predefined exchanges: <em>amq.direct</em>, <em>amq.fanout</em>, <em>amq.headers</em>, <em>amq.match</em>, <em>amq.topic</em>, <em>amq.rabbitmq.log</em>, and <em>amq.rabbitmq.trace</em>.
</p>
<p>We don't recommend using the default exchanges defined by RabbitMQ.  If the configuration specified here does not match the configuration at the broker, clients will throw exceptions because the broker will not allow an existing exchange to be redefined with different configuration.  It's also not obvious what topics are being published to the particular exchange.</p>
</div>
<h4 id="help_type">Exchange Types <em ng-click="toggle('help_type')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_type_content">
<p>Some messages brokers, RabbitMQ in particular, offer different mechanisms for distributing messages to queues.  Exchanges registered in the Global Topology Service need to have the mechanism described because it greatly affects the topology/strategy for event distribution.  The GTS uses the four supported exchange types provided by RabbitMQ, but could potentially use more if RabbitMQ (or other AMQP broker) is extended.</p>
<p>The following exchange types, with descriptions, are provided below:</p>
<ul>
	<li><strong>Direct</strong> - message routing keys are match exactly against the binding expressions between the exchange and registered bound queues.</li>
	<li><strong>Topic</strong> - messages are routed to bound queues if the routing key matches the queues wildcard binding expressions.</li>
	<li><strong>Fanout</strong> - routing keys are ignored and messages are sent to every queue bound to the exchange.</li>
	<li><strong>Headers</strong> - routing keys are ignored and messages are sent to queues based on matching keys in the message header.</li>
</ul>
</div>
<h4 id="help_host">Broker Hostname <em ng-click="toggle('help_host')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_host_content">
<p>The DNS name or IP of the AMQP Broker (or load balancer) the client should connect to.
</p>
</div>
<h4 id="help_port">Broker Port <em ng-click="toggle('help_port')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_port_content">
<p>The port on the AMQP Broker the client should connect to.</p>
<p>RabbitMQ's standard ports are <strong>5672</strong> and <strong>5673</strong> (SSL).</p>
</div>
<h4 id="help_vhost">Broker Virutal Host <em ng-click="toggle('help_vhost')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_vhost_content">
<p>The RabbitMQ equivalent of a "virtual machine", this is an isolated operating space on the broker having a configuration distinct from other Virtual Hosts on the same broker.  This allows RabbitMQ to operate in a "multi-tenant" mode, but it can also be used to scope security and configuration to sections within the same organizations.
</p>
<p>The default Virtual Host on RabbitMQ is <strong>"/"</strong>.</p>
</div>
<h4 id="help_rkey">Routing Key <em ng-click="toggle('help_rkey')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_rkey_content">
<p>The expression used to bind the client's queue to the exchange.  This is only applicable for "topic" and "direct" exchanges.  When using "direct" exchanges, the routing key is matched exactly to the message's route.  In a "topic" exchange, the routing key is a wildcard expression allowing multiple routes to be consumed by on binding.
</p>
</div>
<h4 id="help_queue">Queue Name <em ng-click="toggle('help_queue')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_queue_content">
<p>Name of the queue that should be bound to the exchange by the specified routing key.</p>
<p><strong style="color: red">This should only be used in a round-robin scenario where multiple clients consume from the same queue.</strong></p>
</div>
<h4 id="help_durable">Durable <em ng-click="toggle('help_durable')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_durable_content">
<p>If true, the exchange will survive a restart of the broker and do not have to be redeclared.  It should be noted that the AMP client declares anyway, since declarations cost nothing unless the configuration on the new declaration does match the existing exchange configuration (throwing an error).
</p>
</div>
<h4 id="help_delete">Auto Delete <em ng-click="toggle('help_delete')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_delete_content">
<p>If true, the exchange will remain on the broker even after all clients have disconnected.
</p>
</div>
<h4 id="help_arguments">Arguments <em ng-click="toggle('help_arguments')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_arguments_content">
<p>A generic mechanism for passing other arbitrary (broker specific) properties to the broker for configuring an exchange.  In RabbitMQ, this is used to configure custom exchange implementations which may require non-standard configuration.
</p>
</div>
</div>