<div class="row-fluid">
	<div class="span12"></div>
</div>
<div class="row-fluid">
	<div class="span3">
		<h1>Overview</h1>
		<hr />
		<p>View the graph of interconnected brokers, clients and topics tethered by AMP concepts of Exchanges and Routes.</p>
		<h4><a href="#/wizard"><strong>Topology Wizard</strong></a></h4>
		<p>With little knowledge of AMQP, you can design complex event routes based on common usage patterns.</p>
		<h4><a href="#/wizard"><strong>Topology Management</strong></a></h4>
		<p>Manage topology constructs once they have been added by the Wizard.  Specifically, administrators can manipulate:
			<ul>
				<li><strong><a href="#/routes">Routes</a></strong>:  
					map clients to exchanges for producing and consuming specific topics.</li>
				<li><strong><a href="#/exchanges">Exchanges</a></strong>:  
					configuration required by a client to produce or consume messages.</li>
				<li><strong><a href="#/topics">Topics</a></strong>:  
					a mapping of a concept (topic) or event type, to a route.</li>
				<li><strong><a href="#/clients">Clients</a></strong>:  
					the user or machine producing or consuming events in AMP.</li>
				<li><strong><a href="#/brokers">Brokers</a></strong>:  
					a messaging broker that acts as an intermediary between clients.</li>
			</ul>
		</p>
		<h4><a href="#/wizard"><strong>Global Topology Settings</strong></a></h4>
		<p>A set of tools to help administrate an AMP topology, including client and broker management, cacheing, and bulk configuration management.</p>
	</div>
	<div class="span9" ng-include src="'partials/viz-topo-graph.html'"></div>
</div>
