<div ng-controller="NavbarCtrl" class="navbar navbar-fixed-top">
  <div class="navbar-inner padl3">
	<a class="nav brand" href="#">AMP - Global Topology</a>
    <ul class="nav">
		<li ng-class="{active: activeRoute == '/'}"><a href="#/">Overview</a></li>
		<!-- Postponed until Release 3.2.0 -->
		<!--
		<li ng-class="{active: activeRoute == '/wizard'}"><a href="#/">Wizard</a></li>  
		-->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Topology <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li  ng-class="{active: activeRoute == '/exchanges'}">
					<a href="#/exchanges">Exchanges</a></li>
				<li  ng-class="{active: activeRoute == '/routes'}">
					<a href="#/routes">Routes</a></li>
				<li class="divider"></li>
				<li class="nav-header">Inspect Usage</li>
				<li  ng-class="{active: activeRoute == '/topics'}">
					<a href="#/topics">Topics</a></li>
				<li  ng-class="{active: activeRoute == '/clients'}">
					<a href="#/clients">Clients</a></li>
			</ul>
		</li>
    </ul>
	<ul class="nav pull-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<em class="icon-cog icon-white"></em>
				<span class="ml2">Settings</span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<!-- Postponed until Release 3.2.0 -->
				<!-- 
				<li><a href="#">
					<em class="icon-user"></em>
					<span class="ml2">User Management</span>
				</a></li>
				-->
				<li><a href="#/snapshots">
					<em class="icon-camera"></em>
					<span class="ml2">Snapshots</span>
				</a></li>
				<!-- Postponed until Later Release (version undecided)-->
				<!--
				<li><a href="#">
					<em class="icon-refresh"></em>
					<span class="ml2">Cache Bust</span>
				</a></li>
				-->
			</ul>
		</li>
    </ul>
  </div>
</div>