<div ng-controller="NavbarCtrl" class="navbar navbar-fixed-top">
  <div class="navbar-inner padl3">
	<a class="nav brand" href="#">AMP - Global Topology</a>
    <ul class="nav">
		<li ng-class="{active: activeRoute == '/'}"><a href="#/">Overview</a></li>
		<li ng-class="{active: activeRoute == '/wizard'}"><a href="#/">Topology Wizard</a></li>  
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Topology Management <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li  ng-class="{active: activeRoute == '/exchanges'}">
					<a href="#/exchanges">Exchanges</a></li>
				<li  ng-class="{active: activeRoute == '/routes'}">
					<a href="#/routes">Routes</a></li>
			</ul>
		</li>
    </ul>
	<ul class="nav pull-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<em class="icon-cog icon-white"></em>
				<span class="ml2">Settings</span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">
					<em class="icon-user"></em>
					<span class="ml2">User Management</span>
				</a></li>
				<li><a href="#">
					<em class="icon-camera"></em>
					<span class="ml2">Snapshots</span>
				</a></li>
				<li><a href="#">
					<em class="icon-refresh"></em>
					<span class="ml2">Cache Bust</span>
				</a></li>
			</ul>
		</li>
    </ul>
  </div>
</div>