<div class="span8">
	<h3 class="bbgray">
		<div ng-show="action == 'new'">Create Route</div>
		<div ng-show="action == 'edit'">Edit Route</div>
	</h3>
	<br />
	<br />
	<div class="padl3 span7 offset1">
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="description">Description:</label>
			<div class="controls">
				<input type="text" ng-model="route.description" 
					required class="input-xlarge"
					id="description" placeholder="Route Description">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="routeId">Route ID:</label>
			<div class="controls">
				<input type="text" ng-model="route.id" 
					required class="input-xlarge"
					id="routeId" placeholder="A Unique ID">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="routeTopics">Topics:</label>
			<div class="controls">
				<table class="table table-striped" style="width: 280px">
				<tr ng-repeat="topic in route.topics">
					<td>
					<em class="icon-edit" ng-click="editTopic(topic)"></em>
					<em class="icon-trash" ng-click="deleteTopic(topic)"></em>
					<span class="ml10">{{topic}}</span>
					</td>
				</tr>
				</table>
				<div class="mt10">
				<input type="text" required class="input-large"
					placeholder="Topic" ng-model="topicToAdd">
				<button type="button" class="btn" ng-click="addTopic(topicToAdd)">Add</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="routeClients">Clients:</label>
			<div class="controls">
				<table class="table table-striped" style="width: 280px">
				<tr ng-repeat="client in route.clients">
					<td>
					<em class="icon-edit" ng-click="editClient(client)"></em>
					<em class="icon-trash" ng-click="deleteClient(client)"></em>
					<span class="ml10">{{client}}</span>
					</td>
				</tr>
				</table>
				<div class="mt10">
				<input type="text" required class="input-large"
					placeholder="Client Name" ng-model="clientToAdd">
				<button type="button" class="btn" ng-click="addClient(clientToAdd)">Add</button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="producer">Producer Exchange:</label>
			<div class="controls">
				<input type="text" ng-model="route.producerExchangeId" 
					required class="input-xlarge"
					id="producer" placeholder="Producer Exchange ID">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="consumer">Consumer Exchange:</label>
			<div class="controls">
				<input type="text" ng-model="route.consumerExchangeId" 
					required class="input-xlarge"
					id="consumer" placeholder="Consumer Exchange ID">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="button" ng-show="action == 'edit'"
					ng-click="update()"
					class="btn btn-danger mwidth100">Update</button>
				<button type="button" ng-show="action == 'new'"
					ng-click="create()"
					class="btn btn-warning mwidth100">Create</button>
				<button type="button" ng-click="goBack()"
					class="btn btn-success mwidth100">Cancel</button>
			</div>
		</div>
	</form>
	</div>
</div>
<div  class="span4">
	<div ng-include="'partials/route-help.html'"></div>
</div>