<div class="span8">
	<div class="padl3">
		<h3 class="bbgray">{{route.description}} <small class="ml10">{{route.id}}</small></h3>
		<div class="pull-right">
			<div class="btn-group">
			  <button class="btn btn-primary" ng-click="goto('/routes')">
				<em class="icon-list icon-white"></em><span class="ml5">View All</span>
			  </button>
			  <button class="btn btn-primary" ng-click="goto('/route/new')">
			  	<em class="icon-plus icon-white"></em><span class="ml5">Create</span>
			  </button>
			  <button class="btn btn-primary" 
					ng-click="goto('/routes/' + route.id + '/edit')">
			  	<em class="icon-pencil icon-white"></em><span class="ml5">Edit</span>
			  </button>
			  <button class="btn btn-primary" 
					ng-click="goto('/routes/' + route.id + '/delete')">
			  	<em class="icon-trash icon-white"></em><span class="ml5">Delete</span>
			  </button>
			</div>
		</div>
		<br /><br />
		<table class="table table-striped">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>
			<tr>
				<th>Topics</th>
				<td>
					<span class="ml10" ng-repeat="topic in route.topics">
						<em class="icon-plane"></em><span class="ml5">{{topic}}</span>
					</span>
				</td>
			</tr>
			<tr>
				<th>Clients</th>
				<td>
					<span class="ml10" ng-repeat="client in route.clients">
						<em class="icon-user"></em><span class="ml5">{{client}}</span>
					</span>
				</td>
			</tr>
			<tr>
				<th>Producer Exchange</th>
				<td>
					<a href="#/exchanges/{{route.producerExchangeId}}">{{route.producerExchangeId}}</a>
				</td>
			</tr>
			<tr>
				<th>Consumer Exchange</th>
				<td>
					<a href="#/exchanges/{{route.consumerExchangeId}}">{{route.consumerExchangeId}}</a>
				</td>
			</tr>
		</table>
	</div>
</div>
<div  class="span4">
	<div ng-include="'partials/route-help.html'"></div>
</div>