<div ng-controller="RouteHelpCtrl">
<h3 class="bbgray">Terminology</h3>
<p>Routes are a construct of AMP.  Routes represent the configuration necessary to produce or consumer messages (events) for a particular event type in a specific context.  An event may actually have multiple routes, typically when events need to be forwarded to brokers in different clusters, or when you are using a more complex topology with virtual hosts.  In general, however, it's wise to minimize the number of routes a client needs to connect.</p>
<h4 id="help_topic">Topics <em ng-click="toggle('help_topic')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_topic_content">
<p>Topics are aliases to routing keys used by exchanges.  Topics are used to map the events that may have the same schema, but exist in different namespaces (or with languages with different namespace conventions than Java and C#).
</p>
</div>
<h4 id="help_client">Clients <em ng-click="toggle('help_client')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_client_content">
<p>The name or CN/DN of clients allowed to publish and consume on this route.
</p>
</div>
<h4 id="help_producer">Producer Exchange <em ng-click="toggle('help_producer')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_producer_content">
<p>The exchange in which messages/events should be published to.  It's ok if this is the same as the consumer exchange.</p>
</div>
<h4 id="help_consumer">Consumer Exchange <em ng-click="toggle('help_consumer')" class="pull-right icon-chevron-up"></em></h4>
<div id="help_consumer_content">
<p>The exchange in which messages/events should be consumed from.  It's ok if this is the same as the producer exchange.
</p>
</div>
</div>