<div class="span12">
	<div class="padl3">
		<h3 class="bbgray">{{topicId}}</h3>
		<p>Routes bound to the <strong>{{topicId}}</strong> topic, including the clients that are able to publish and consume on the topic, and those exchanges they would do it on.</p>
		<table class="table table-striped">
			<tr>
				<th>Client</th>
				<th>Route Description</th>
				<th>Producer Exchange</th>
				<th>Consumer Exchange</th>
			</tr>
			<tbody ng-repeat="route in routes">
			<tr ng-repeat="client in route.clients">
				<td><a href="#/clients/{{client}}">{{client}}</a></td>
				<td><a href="#/routes/{{route.id}}">{{route.description}}</a></td>
				<td><a href="#/exchanges/{{route.producerExchangeId}}">
					{{route.producerExchangeId}}</a></td>
				<td><a href="#/exchanges/{{route.consumerExchangeId}}">
					{{route.consumerExchangeId}}</a></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>