<div ng-controller="TopoGraphCtrl"  class="topo-canvas-parent">
	<div class="pull-left topology-canvas-logo"></div>
	<div id="topo-canvas" class="topo-canvas" style="width: 100%; height: 100%">&nbsp;</div>
</div>
<div class="pull-right" style="margin: 8px 40px 0 0;">
	<form class="form-search">
	<input type="text" placeholder="Filter Graph - Not Functional" />
	<button type="button" class="btn">
		<em class="icon-refresh"></em>
		<span class="ml5">Refresh</span>
	</button>
	<span style="margin: 0 10px">|</span>
	<button type="button" class="btn btn-primary">Routes</button>
	<button type="button" class="btn btn-warning">Exchanges</button>
	<button type="button" class="btn btn-danger">Topics</button>
	<button type="button" class="btn btn-success">Clients</button>
	<button type="button" class="btn btn-info">Brokers</button>
	</form>
</div>