[
    {
        rabbit, 
        [
            {auth_mechanisms, ['EXTERNAL', 'PLAIN']}, 
            {auth_backends, [rabbit_auth_backend_http, rabbit_auth_backend_internal]},
            {ssl_listeners, [5671]},
            {ssl_options, [
                {cacertfile, "/etc/rabbitmq/certs/ca-certs.pem"},
                {certfile, "/etc/rabbitmq/certs/rabbit.johnruiz.com.pem"},
                {keyfile, "/etc/rabbitmq/certs/rabbit.johnruiz.com.key"},
                {verify, verify_peer},
                {fail_if_no_peer_cert, true}
            ]}
        ]
    },
    {
        rabbitmq_auth_backend_http,
        [
            {user_path,     "http://localhost:15678/anubis/rabbitmq/user"},
            {vhost_path,    "http://localhost:15678/anubis/rabbitmq/vhost"},
            {resource_path, "http://localhost:15678/anubis/rabbitmq/resource"}
        ]
    }
].
