<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <!--appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="file" value="/Users/israel/tmp/event-api.test.log" />
    	<param name="datePattern" value="'.'yyyy-MM-dd" />
    	<param name="append" value="true" />
    	<layout class="org.apache.log4j.PatternLayout">
      		<param name="ConversionPattern" value="%d [%t] %-5p %C{6} (%F:%L) - %m%n"/>
   		 </layout>
  	</appender-->
    <logger name="amp.esp">
        <level value="INFO" />
    </logger>
    <logger name="com.espertech">
        <level value="WARN"/>
    </logger>
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="stdout"/>
        <!--appender-ref ref="file"/-->
    </root>
</log4j:configuration>
