<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>


  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  
  
  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">

      <object id="amp.examples.duplex.DuplexEventForm" type="amp.examples.duplex.DuplexEventForm, amp.examples.duplex">
        <property name="eventBus" ref="cmf.eventing.patterns.rpc.IRpcEventBus" />
      </object>
      
      <object id="cmf.eventing.patterns.rpc.IRpcEventBus" type="amp.eventing.DefaultRpcBus, amp.eventing">
        <constructor-arg name="envBus" ref="cmf.bus.IEnvelopeBus" />
        <property name="inboundChain">
          <dictionary key-type="System.Int32" value-type="amp.eventing.IEventProcessor, amp.eventing">
            <entry key="0" value-ref="RpcFilter" />
            <entry key="2" value-ref="JsonEventSerializer" />
          </dictionary>
        </property>
        <property name="outboundChain">
          <dictionary key-type="System.Int32" value-type="amp.eventing.IEventProcessor, amp.eventing">
            <entry key="0" value-ref="JsonEventSerializer" />
            <entry key="1" value-ref="OutboundHeadersProcessor" />
            <entry key="3" value-ref="RpcFilter" />
          </dictionary>
        </property>
      </object>

      <object id="JsonEventSerializer" type="amp.eventing.serializers.JsonEventSerializer, amp.eventing" />

      <object id="OutboundHeadersProcessor" type="amp.eventing.OutboundHeadersProcessor, amp.eventing" />

      <object id="RpcFilter" type="amp.eventing.RpcFilter, amp.eventing" />

      <object id="cmf.bus.IEnvelopeBus" type="amp.bus.DefaultEnvelopeBus, amp.bus">
        <constructor-arg name="transportProvider" ref="amp.bus.ITransportProvider" />
      </object>

      <object id="amp.bus.ITransportProvider" type="amp.bus.rabbit.RabbitTransportProvider, amp.bus.rabbit">
        <constructor-arg name="topologyService" ref="amp.bus.rabbit.topology.ITopologyService" />
        <constructor-arg name="connFactory" ref="amp.bus.rabbit.IRabbitConnectionFactory" />
      </object>

      <object id="amp.bus.rabbit.IRabbitConnectionFactory" type="amp.bus.rabbit.BasicConnectionFactory, amp.bus.rabbit">
        <constructor-arg name="username" value="cmf-examples" />
        <constructor-arg name="password" value="cmf" />
      </object>
      
      <object id="amp.bus.rabbit.topology.ITopologyService" type="amp.bus.rabbit.topology.SimpleTopologyService, amp.bus.rabbit">
        <constructor-arg name="clientProfile" value="" />
        <constructor-arg name="name" value="" />
        <constructor-arg name="hostname" value="devexample.com" />
        <constructor-arg name="vhost" value="" />
        <constructor-arg name="port" value="5672" />
      </object>

    </objects>

  </spring>


  <log4net>
    <appender name="SingleFileAppender" type="log4net.Appender.FileAppender">
      <file value="logs/amp.examples.duplex.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#13;&#10;"/>
        <footer value="[Footer]&#13;&#10;"/>
        <conversionPattern value="%-5level  |--|   %date{hh:mm:ss.fff tt} (%thread)   |--|   %logger{1}%newline  %message%newline%exception%newline%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level  |--|   %date{hh:mm:ss.fff tt} (%thread)   |--|   %logger{1}%newline  %message%newline%exception%newline%newline" />
      </layout>
    </appender>
    <category name="Spring.Objects.Factory">
      <level value="INFO"/>
    </category>
    <category name="Spring.Context.Support">
      <level value="INFO"/>
    </category>
    <category name="Spring.Web.Support">
      <level value="INFO"/>
    </category>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="SingleFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libraries;" />
    </assemblyBinding>
  </runtime>
  
  
</configuration>