<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<import resource="classpath:/cmf-context.xml" />
	<import resource="classpath:/accumulo-context.xml" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="searchSystemEnvironment" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="nullValue" value="null" />
		<property name="locations">
			<array>
				<value>file:/opt/amp/config/eventbus.properties</value>
				<value>file:/opt/amp/config/accumulo.properties</value>
			</array>
		</property>
	</bean>

	<bean id="
	resource " class="amp.gel.resources.ExampleResource" />

	<bean id="ampHealthCheck" class="amp.gel.health.AmpHealthCheck" />

	<bean id="topicLogger" class="amp.gel.service.TopicLogger">
		<property name="envelopeBus" ref="envelopeBus" />
		<property name="datastoreWriter" ref="datastoreWriter" />
		<property name="topic" value="amp.gel.service.TopicLoggerDemo.SimplePojo" />
	</bean>

	<bean id="topicLoggerManager" class="amp.gel.managed.TopicLoggerManager">
		<property name="topicLogger" ref="topicLogger" />
	</bean>

</beans>