black =                #000
grayDarker =           #222
grayDark =             #333
gray =                 #555
grayLight =            #999
grayLighter =          #F5F5F5
white =                #fff
blue =                 #2FA4E7
blueDark =             #033C73
green =                #73A839
red =                  #C71C22
yellow =               #F7B42C
orange =               #DD5600
pink =                 #F49AC1
purple =               #9760B3
	
.container
	background-color white
	min-height 800px
	
.footer
	font-size 11px
	text-align center
	margin-top 25px